.col {
    background-color: aqua;
    width: 100%;
}

.header {
    display: flex;
    background-color: brown;
    height: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    color: blanchedalmond;
}

.nav {
    display: flex;
    gap: 2em;
    color: blanchedalmond;
}

@media screen and (min-width: 760px) {
    .columns {
        display: flex;
        gap: 1em;
    }

    .header {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}